name: CI/CD Next.js -> Kubernetes

on:
  push:
    branches: ['main']

jobs:
  build-and-deploy:
    runs-on: self-hosted

    env:
      DOCKER_IMAGE: flavienrak/next-app

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t $DOCKER_IMAGE:${{ github.sha }} .
          docker tag $DOCKER_IMAGE:${{ github.sha }} $DOCKER_IMAGE:latest

      - name: Push Docker image
        run: |
          docker push $DOCKER_IMAGE:${{ github.sha }}
          docker push $DOCKER_IMAGE:latest

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl set image deployment/nextjs-deployment nextjs=$DOCKER_IMAGE:${{ github.sha }} --record

      - name: Rollout status
        run: |
          kubectl rollout status deployment/nextjs-deployment

      - name: Rollback if failed
        if: failure()
        run: |
          kubectl rollout undo deployment/nextjs-deployment
